
$w : 60%;

$c-b : #637bd9;
$c-brand : rgb(249, 28, 96);

$c-l : rgb(76, 112, 220);
$c-h : rgb(103, 166, 220);

$c-valid : #3ec93b;;
$c-invalid : #c92f2f;;

/* Core
-------------------------------------------------- */

.link {
	color: $c-l;
	&:hover { color: $c-h; }
	}

a {
	&:link,
	&:visited { color: $c-l; }
	@extend .link;
	}

.button[disabled] {
	opacity: .6;
	pointer-events: none;
	cursor: default;
	}

/* /Core */


/* Angular-specific
-------------------------------------------------- */

textarea,
select,
input {
	&.ng-dirty {
		&.ng-valid-required {
			border-color: $c-valid;
			}

		&.ng-invalid {
			border-color: $c-invalid;
			}
		}
	}

/* /Angular-specific */


/* Partials
-------------------------------------------------- */

.pseudo {
	@extend .link;
	text-decoration: none;
	border-bottom: 1px dashed;
	cursor: pointer;

	&.active {
		border-color: transparent;
		cursor: default;
		}
	}

.border {
	border: 1px solid #eee;
	border-radius: 4px;
	}

/* /Partials */


/* Layout
-------------------------------------------------- */

.container {
	padding: 20px 0;

	&.root {
		padding-top: 60px;
		}
	}

header {
	border-bottom: 2px solid #eee;
	margin-bottom: 40px;
	}

menu {
	display: flex;
	margin: 20px 0;
	font-size: 16px;

	li {
		margin: 0 20px;
		list-style: none;

		&:first-child {
			margin-left: 0;
			}
		}
	}

/* /Layout */


/* Product
-------------------------------------------------- */

.product {
	@extend .border;
	border-color: $c-b;

	padding: 10px;
	background: #e4f1ff;
	width: $w;

	menu {
		font-size: 12px;
		}

	.button {
		margin-bottom: 0;
		}
	}

.gallery {

	.item {
		@extend .border;

		display: inline-block;
		line-height: 0;
		font-size: 0;
		vertical-align: middle;
		overflow: hidden;

		&:hover {
			cursor: pointer;
			border-color: $c-b;
			}
		}

	}

/* /Product */


/* Review
-------------------------------------------------- */

.form {

	.validation {

		$w-icon : 2em;

		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;

		width: $w-icon;
		height: $w-icon;
		border-radius: $w-icon/2;
		background: $c-invalid;

		&.ok {
			background: $c-valid;
			}
		}
	}

.stars-w {
	font-size: 20px;
	font-family: monospace;
	overflow: hidden;

	$w-star : 1.4ex;

	@for $i from 1 through 5 {
		&.stars-#{$i} {
			width: $w-star*$i;
			}
		}

	.stars {
		color: $c-brand;
		letter-spacing: .3ex;
		}
	}

.review {
	max-width: $w;
	font-size: 12px;
	padding-bottom: 15px;

	p {
		margin-bottom: 10px;
		}

	hr {
		margin: 10px 0;
		padding: 0;
		}

	cite {
		font-weight: bold;
		color: #999;
		}

	}

/* /Review */
