<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="styles/css/base.css">
    <link rel="stylesheet" href="styles/css/layout.css">
    <link rel="stylesheet" href="styles/css/skeleton.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="gemStore">

    <div class="root container">
        <header>
            <div class="row">
              <h1>Gem shop</h1>
              <menu type="context toolbar">
                <li><a href="/" title="home">home</a></li>
                <li><a href="/products" title="">products</a></li>
              </menu>
            </div>
        </header>

        <div ng-view="">

            <div class="row prices" ng-controller="StoreController as store">
              <ul>
                  <li class="product" ng-repeat="product in store.products" ng-hide="product.isHidden">
                      <p class="lead">
                          {{product.name}} - {{product.price | currency}}
                      </p>

                      <div class="descr" ng-controller="DescrController as descr">
                          <menu>
                              <li><span ng-class="{pseudo:true, active : descr.current === 0}" ng-click="descr.setTab(0)">description</span></li>
                              <li><span ng-class="{pseudo:true, active : descr.current === 1}" ng-click="descr.setTab(1)">characteristics</span></li>
                          </menu>
                          <div class="row tab" ng-show="descr.isActive(0)">
                              {{product.descr | limitTo:140}}
                          </div>
                          <div class="row tab" ng-show="descr.isActive(1)">
                              <ul class="circle">
                                  <li ng-repeat="char in product.chars | limitTo : 3 | randomize : chars">
                                      {{char}}
                                  </li>
                              </ul>
                          </div>
                      </div>

                      <div class="row gallery" ng-show="product.images.length">
                          <div class="item">
                              <img ng-src="{{product.images[0].thumb}}" alt=""/>
                          </div>
                      </div>
                      <a class="button" ng-show="product.isAvailable" href="#buy">I want this!</a>
                  </li>
              </ul>
            </div>

        </div>

        <div class="reviews" ng-controller="ReviewController as reviewCtrl">

            <h3>Reviews</h3>

            <ul>
                <li ng-repeat="review in reviewCtrl.reviews" class="review">
                    <article>
                        <div class="stars-w stars-{{review.stars}}">
                            <span class="stars">♥♥♥♥♥</span>
                        </div>
                        <p>{{review.body}}</p>
                        <hr/>
                        <cite class="author">{{review.author}}</cite>
                    </article>
                </li>
            </ul>

            <h3>Add review</h3>

            <form class="form" name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview()" novalidate>
                <label>Stars:</label>
                <select ng-model="reviewCtrl.review.stars" name="reviewStars" id="reviewStars">
                    <option value="1">♥</option>
                    <option value="2">♥♥</option>
                    <option value="3">♥♥♥</option>
                    <option value="4">♥♥♥♥</option>
                    <option value="5" ng-selected="{{true}}">♥♥♥♥♥</option>
                </select>
                <label>Review:</label>
                <textarea required ng-model="reviewCtrl.review.body" name="reviewBody" id="reviewBody" cols="30" rows="10"></textarea>
                <label>
                    E-mail:
                    <input required ng-model="reviewCtrl.review.author" type="email" placeholder="starHolder@comet.com"/>
                </label>

                <span ng-class="{validation : true, ok : reviewForm.$valid == true}"></span>
                <input ng-disabled="!reviewForm.$valid" type="submit" class="button" value="Submit"/>
            </form>


        </div>

        <footer>
            <div class="row">
              gemshop™
            </div>
        </footer>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/filters.js"></script>
        <!--<script src="scripts/controllers/main.js"></script>-->
        <!--<script src="scripts/controllers/about.js"></script>-->
        <!-- endbuild -->
</body>
</html>
